main{
    display: flex;
    /* align-items: center; */
    /* width: 95%; */
    margin: auto;
    justify-content: space-between;
    /* margin-top: 2%;
    margin-bottom: 2%; */
    margin-top: 35px;
    height: 350px;
}

.left{
    width: 20%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 65px;
}

.right{
    width: 80%;
    /* background-color: aquamarine; */
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
}

.img{
    width: 35%;
    height: 80px;
    background-color: pink;
    border-radius: 50%;  
}

.right button{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
    background-color: #333652;
    color: #FAD02C;
    cursor: pointer;
    font-size: large;
}