@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
    font-size: 0.9rem;
}
#container{
    margin:6.5rem auto;
}

#pets_details{
    /* border:1px solid blue; */
    width:85%;
    margin:1rem auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.doc-card{
    /* border:1px solid green; */
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:10px;
    background-color: ghostwhite;
}
.top-cont{
    /* border:1px solid red; */
    display:flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:1rem;
    border-radius:5px;
    background-color: white;
}
.doc-profile{
    display:flex;
    /* border:1px solid red; */
    justify-content: space-around;
    width:70%;
}
.doc-img,.doc-book{
    display:flex;
    align-items: center;
}
.doc-img>img{
    width:120px;
    height:120px;
    border-radius: 50%;
}
.doc-desc{
    /* border:1px solid black; */
    width:55%;
}
.doc-desc>*{
    margin:0.5rem auto;
}
.doc-book{
    /* border:1px solid black; */
    width:45%;
}
.select-app{
    /* border:1px solid black; */
    width:100%;
}
.select-app>form{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center; 
}
.select-app>form>div{
    margin-bottom:1rem;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-app>form select{
    width:60%;
    text-align: center;
    border:1px solid lightgray
}
.select-app>form select:focus{
    outline:none;
}
.select-app>form label{
    font-weight: bold;
}
.doc-book input{
    padding:5px 10px;
    background-color:#333652;
    border:1px solid #333652;
    border-radius: 5px;
    color:white 
}
.doc-book input:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 13px;
}
#filter-approval>*:hover{
    cursor:pointer;
}


.asd{
    margin-top: 20px;
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: #333652;
}

.hidden {
    display: none;
  }
  
  #update-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  


#addpets{
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #333652;
    color: white;
}

/* table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  

  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  } */

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}