#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    width: 90%;
    margin: auto;
    margin-top: 23px;
}

.cart{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    line-height: 30px;
    padding: 23px;
}

/* .cart button{
    margin-bottom: 15%;
    padding: 5px;
    background-color: #333652;
    color: #FAD02C;
    cursor: pointer;
    font-size: ;
} */

.buttons button{
    border:1px solid #333652;
    background-color: #333652;
    color:#FAD02C;
    font-weight: bold;
    padding:5px 10px;
    border-radius: 5px;
    transition: transform .2s;
}
.buttons button:hover{
    transform: scale(1.1);
    cursor:pointer;
}

@media all and (min-width:300px) and (max-width:700px){
    #container{
       grid-template-columns: repeat(1,1fr);

    }
}

